@model Teacher;

<h3>Edit Teacher</h3>
<br />

<form method="post" asp-action="Edit">
    <input type="hidden" asp-for="id" />
    <div class="form-group">
        <label class="form-label">  Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label class="form-label">  Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label class="form-label">  Phone</label>
        <input asp-for="Phone" class="form-control" />
    </div>

    <div class="form-group">
        <label class="form-label">  Salery</label>
        <input asp-for="Salary" class="form-control" />
    </div>

    <div class="form-group">
        <label class="form-label">  course</label>
        <input asp-for="Course_Title" class="form-control" />
    </div>

    <br /><br />

    <a class="btn btn-danger" asp-action="Index">Cancel</a>
    <button type="submit" class="btn btn-primary">Edit</button>

</form>
